<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Aoe_Static>
            <active>true</active>
            <codePool>local</codePool>
            <version>0.0.4</version>
        </Aoe_Static>
    </modules>

    <global>
        <blocks>
            <aoestatic>
                <class>Aoe_Static_Block</class>
            </aoestatic>
        </blocks>
        <models>
            <aoestatic>
                <class>Aoe_Static_Model</class>
                <resourceModel>aoestatic_resource</resourceModel>
            </aoestatic>
            <aoestatic_resource>
                <class>Aoe_Static_Model_Resource</class>
                <entities>
                    <custom_url>
                        <table>aoestatic_custom_url</table>
                    </custom_url>
                </entities>
            </aoestatic_resource>
        </models>
        <helpers>
            <aoestatic>
                <class>Aoe_Static_Helper</class>
            </aoestatic>
        </helpers>
        <resources>
            <aoestatic_setup>
                <setup>
                    <module>Aoe_Static</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </aoestatic_setup>
        </resources>
    </global>

    <frontend>
        <layout>
            <updates>
                <aoestatic>
                    <file>aoestatic/aoestatic.xml</file>
                </aoestatic>
            </updates>
        </layout>
        <routers>
            <aoestatic>
                <use>standard</use>
                <args>
                    <module>Aoe_Static</module>
                    <frontName>phone</frontName>
                </args>
            </aoestatic>
        </routers>

        <events>
            <!-- Setting the response headers to control varnish -->
            <controller_action_predispatch>
                <observers>
                    <aoestatic>
                        <class>aoestatic/observer</class>
                        <method>processPreDispatch</method>
                    </aoestatic>
                </observers>
            </controller_action_predispatch>

            <!-- Creating a new layout handle "aoestatic_cacheable" or "aoestatic_notcacheable"-->
            <controller_action_layout_load_before>
                <observers>
                    <aoestatic_cacheable>
                        <class>aoestatic/observer</class>
                        <method>beforeLoadLayout</method>
                    </aoestatic_cacheable>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Aoe_Static before="Mage_Adminhtml">Aoe_Static_Adminhtml</Aoe_Static>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <aoestatic>
                    <file>aoestatic/aoestatic.xml</file>
                </aoestatic>
            </updates>
        </layout>
    </adminhtml>
</config>
