<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Aoe_Static>
            <version>0.2.2</version>
        </Aoe_Static>
    </modules>

    <global>
        <blocks>
            <aoestatic>
                <class>Aoe_Static_Block</class>
            </aoestatic>
        </blocks>
        <models>
            <aoestatic>
                <class>Aoe_Static_Model</class>
                <resourceModel>aoestatic_resource</resourceModel>
            </aoestatic>
            <aoestatic_resource>
                <class>Aoe_Static_Model_Resource</class>
                <entities>
                    <custom_url>
                        <table>aoestatic_custom_url</table>
                    </custom_url>
                </entities>
            </aoestatic_resource>
        </models>
        <helpers>
            <aoestatic>
                <class>Aoe_Static_Helper</class>
            </aoestatic>
        </helpers>
        <resources>
            <aoestatic_setup>
                <setup>
                    <module>Aoe_Static</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </aoestatic_setup>
        </resources>
        <cache>
            <types>
                <aoestatic translate="label,description" module="aoestatic">
                    <label>Aoe Static Cache</label>
                    <description>AOE Static Cache</description>
                    <tags/>
                </aoestatic>
            </types>
        </cache>
        <events>
            <aoeasynccache_processqueue_postprocessjobcollection>
                <observers>
                    <aoestatic>
                        <class>aoestatic/asyncCacheObserver</class>
                        <method>aoeasynccacheProcessqueuePostprocessjobcollection</method>
                    </aoestatic>
                </observers>
            </aoeasynccache_processqueue_postprocessjobcollection>
            <application_clean_cache>
                <observers>
                    <aoestatic>
                        <type>singleton</type>
                        <class>aoestatic/observer</class>
                        <method>applicationCleanCache</method>
                    </aoestatic>
                </observers>
            </application_clean_cache>
            <!-- To check if category is in navigation to let admin users know that varnish cache needs
            to be revalidated -->
            <catalog_category_save_commit_after>
                <observers>
                    <aoestatic>
                        <type>singleton</type>
                        <class>aoestatic/observer</class>
                        <method>catalogCategorySaveCommitAfter</method>
                    </aoestatic>
                </observers>
            </catalog_category_save_commit_after>


            <!-- FULL REINDEX -->
            <cataloginventory_stock_full_reindex>
                <observers>
                    <aoestatic>
                        <class>aoestatic/index_observer</class>
                        <method>invalidateCacheAfterFullReindex</method>
                    </aoestatic>
                </observers>
            </cataloginventory_stock_full_reindex>
            <catalog_product_price_full_reindex>
                <observers>
                    <aoestatic>
                        <class>aoestatic/index_observer</class>
                        <method>invalidateCacheAfterFullReindex</method>
                    </aoestatic>
                </observers>
            </catalog_product_price_full_reindex>
            <catalog_product_flat_full_reindex>
                <observers>
                    <aoestatic>
                        <class>aoestatic/index_observer</class>
                        <method>invalidateCacheAfterFullReindex</method>
                    </aoestatic>
                </observers>
            </catalog_product_flat_full_reindex>
            <catalog_category_flat_full_reindex>
                <observers>
                    <aoestatic>
                        <class>aoestatic/index_observer</class>
                        <method>invalidateCacheAfterFullReindex</method>
                    </aoestatic>
                </observers>
            </catalog_category_flat_full_reindex>
            <catalog_category_product_full_reindex>
                <observers>
                    <aoestatic>
                        <class>aoestatic/index_observer</class>
                        <method>invalidateCacheAfterFullReindex</method>
                    </aoestatic>
                </observers>
            </catalog_category_product_full_reindex>

            <!-- PARTIAL PRODUCT REINDEX -->
            <cataloginventory_stock_partial_reindex>
                <observers>
                    <aoestatic>
                        <class>aoestatic/index_observer</class>
                        <method>cleanProductsCacheAfterPartialReindex</method>
                    </aoestatic>
                </observers>
            </cataloginventory_stock_partial_reindex>
            <catalog_product_price_partial_reindex>
                <observers>
                    <aoestatic>
                        <class>aoestatic/index_observer</class>
                        <method>cleanProductsCacheAfterPartialReindex</method>
                    </aoestatic>
                </observers>
            </catalog_product_price_partial_reindex>
            <catalog_product_flat_partial_reindex>
                <observers>
                    <aoestatic>
                        <class>aoestatic/index_observer</class>
                        <method>cleanProductsCacheAfterPartialReindex</method>
                    </aoestatic>
                </observers>
            </catalog_product_flat_partial_reindex>
            <catalog_category_product_partial_reindex>
                <observers>
                    <aoestatic>
                        <class>aoestatic/index_observer</class>
                        <method>cleanProductsCacheAfterPartialReindex</method>
                    </aoestatic>
                </observers>
            </catalog_category_product_partial_reindex>
            <catalog_url_product_partial_reindex>
                <observers>
                    <aoestatic>
                        <class>aoestatic/index_observer</class>
                        <method>cleanProductsCacheAfterPartialReindex</method>
                    </aoestatic>
                </observers>
            </catalog_url_product_partial_reindex>

            <!-- PARTIAL CATEGORY REINDEX -->
            <catalog_category_flat_partial_reindex>
                <observers>
                    <aoestatic>
                        <class>aoestatic/index_observer</class>
                        <method>cleanCategoriesCacheAfterPartialReindex</method>
                    </aoestatic>
                </observers>
            </catalog_category_flat_partial_reindex>
            <catalog_url_category_partial_reindex>
                <observers>
                    <aoestatic>
                        <class>aoestatic/index_observer</class>
                        <method>cleanCategoriesCacheAfterPartialReindex</method>
                    </aoestatic>
                </observers>
            </catalog_url_category_partial_reindex>
            <catalog_url_category_reindex>
                <observers>
                    <aoestatic>
                        <class>aoestatic/index_observer</class>
                        <method>cleanCacheByTags</method>
                    </aoestatic>
                </observers>
            </catalog_url_category_reindex>
            <catalog_category_product_cat_partial_reindex>
                <observers>
                    <aoestatic>
                        <class>aoestatic/index_observer</class>
                        <method>cleanCategoriesCacheAfterPartialReindex</method>
                    </aoestatic>
                </observers>
            </catalog_category_product_cat_partial_reindex>

            <cataloginventory_stock_item_save_after>
                <observers>
                    <aoestatic>
                        <class>aoestatic/observer</class>
                        <method>productOutOfStock</method>
                    </aoestatic>
                </observers>
            </cataloginventory_stock_item_save_after>
        </events>
    </global>

    <frontend>
        <layout>
            <updates>
                <aoestatic>
                    <file>aoestatic/aoestatic.xml</file>
                </aoestatic>
            </updates>
        </layout>
        <routers>
            <aoestatic>
                <use>standard</use>
                <args>
                    <module>Aoe_Static</module>
                    <frontName>aoestatic</frontName>
                </args>
            </aoestatic>
        </routers>

        <events>
            <!-- Setting the response headers to control varnish -->
            <controller_action_postdispatch>
                <observers>
                    <aoestatic>
                        <class>aoestatic/observer</class>
                        <method>processPostDispatch</method>
                    </aoestatic>
                </observers>
            </controller_action_postdispatch>

            <!-- Creating a new layout handle "aoestatic_cacheable" or "aoestatic_notcacheable"-->
            <controller_action_layout_load_before>
                <observers>
                    <aoestatic>
                        <class>aoestatic/observer</class>
                        <method>beforeLoadLayout</method>
                    </aoestatic>
                </observers>
            </controller_action_layout_load_before>

            <core_block_abstract_to_html_after>
                <observers>
                    <aoe_static>
                        <type>singleton</type>
                        <class>aoestatic/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </aoe_static>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Aoe_Static before="Mage_Adminhtml">Aoe_Static_Adminhtml</Aoe_Static>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <aoestatic>
                    <file>aoestatic/aoestatic.xml</file>
                </aoestatic>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_adminhtml_cache_index>
                <observers>
                    <aoestatic>
                        <type>singleton</type>
                        <class>aoestatic/observer</class>
                        <method>controllerActionPredispatchAdminhtmlCacheIndex</method>
                    </aoestatic>
                </observers>
            </controller_action_predispatch_adminhtml_cache_index>
            <controller_action_predispatch_adminhtml_cache_massRefresh>
                <observers>
                    <aoe_static>
                        <type>singleton</type>
                        <class>aoestatic/observer</class>
                        <method>controllerActionPredispatchAdminhtmlCacheMassRefresh</method>
                    </aoe_static>
                </observers>
            </controller_action_predispatch_adminhtml_cache_massRefresh>
        </events>
    </adminhtml>

    <default>
        <dev>
            <aoestatic>
                <servers><![CDATA[127.0.0.1:83]]></servers>
                <debug>0</debug>
            </aoestatic>
        </dev>
    </default>

</config>
